@using BankingCalculator.Models
@model Calc
@{
    ViewBag.Title = "Count";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Count Interest</h2>

@{ Html.EnableClientValidation(); }
@using (Html.BeginForm("Interest", "Calc"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.bankName)<text><b>:</b></text>
        @Html.DropDownListFor(m => m.bankName,
                            new SelectList(Enum.GetValues(typeof(Bank))),
                            "Select your bank")

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.period)<text><b>:</b></text>
        @Html.RadioButtonFor(m => m.period, "Day") <text>Day | </text>
        @Html.RadioButtonFor(m => m.period, "Week") <text>Week | </text>
        @Html.RadioButtonFor(m => m.period, "Month") <text>Month</text>
    </div>
    <div class="form-group">
         @Html.LabelFor(m => m.sum)<text><b>:</b></text>
         @Html.TextBoxFor(m => m.sum, new { @class = "form-control" })          
     </div>

        <button type="submit" class="btn btn-primary">Count</button>
    }

    

